h1 {
    text-transform: uppercase; /*es una propiedad que podemos usar para que todo lo coloque en mayusculas*/
  }
  
  div{
    margin-top: 100px;
    background: black;
    color: white;
    text-align: center;
    width: 50%; /*es importante usar este tip  para centralizar la imagne mejor*/
    margin-left: 25%; /*igual esta propiedad hay que aplicarla*/
    padding: 0px;
    font-family: "Libre Baskerville", serif;
}

img{
    border: 5px solid white;
    width: 100%;
}

body{
    background: black;
}
