h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }

  div{
    border-top: 70px solid black;
    background: black;
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    padding: 0px;
}

img{
    border: 5px solid white;
    width: 100%;
}

html{
    background: black;
}